[Unit]
Description=tg-bot
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
RuntimeMaxSec=5s
Restart=always
WorkingDirectory=/home/irina/git/telegrambot_cipher/telegrambot_cipher
ExecStart=/usr/bin/python3 /home/irina/git/telegrambot_cipher/telegrambot_cipher/telegrambot_cipher.py



[Install]
WantedBy=multi-user.target